@model IEnumerable<SmartAdminMvc.Models.insidentesModelo>


<!DOCTYPE html>


<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
</head>



<style>

    .pagination > li {
        display: inline;
        padding: 0px !important;
        margin: 0px !important;
        border: none !important;
    }

    .modal-backdrop {
        z-index: -1 !important;
    }
    /*
    Fix to show in full screen demo
    */
    iframe {
        height: 700px !important;
    }

    .btn {
        display: inline-block;
        padding: 6px 12px !important;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .btn-primary {
        color: #fff !important;
        background: #428bca !important;
        border-color: #357ebd !important;
        box-shadow: none !important;
    }

    .btn-danger {
        color: #fff !important;
        background: #d9534f !important;
        border-color: #d9534f !important;
        box-shadow: none !important;
    }
</style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link href="~/Content/DataTables/components.css" rel="stylesheet" />


<div title="Click para Cerrar" id="carga" style="cursor:pointer;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;box-shadow:inset #696763 0px 0px 14px;background-position:center;background-size:100%;width:100%;color:#fff;text-align:center;height:100%;padding:52px 12px 12px 12px;position:fixed;z-index:6;">
    <img AlternateText="Loading" src="https://pa1.narvii.com/6707/20576190733bb67e82c266681eaa9916a3960290_hq.gif" />
</div>




<body>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>Mis Insidentes Asignados
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="fullscreen"> </a>
                    </div>
                    <div class="actions">
                    
                    </div>
                    @if (TempData["respuestadespuesdeejectaraccion"] != null)
                    {
                        <h3>@TempData["respuestadespuesdeejectaraccion"]</h3>
                    }
                </div>





                <div class="portlet-body">

                    <div class="table-responsive">
                        <table id="datatable" class="table table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th>Fecha Solicitud</th>
                                    <th>Fecha Tomado</th>
                                    <th>Descripcion</th>
                                    <th>Priorizacion</th>
                                    <th>Departamento</th>
                                    <th>Categoria</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Fecha Solicitud</th>
                                    <th>Fecha Tomado</th>
                                    <th>Descripcion</th>
                                    <th>Priorizacion</th>
                                    <th>Departamento</th>
                                    <th>Categoria</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr class="Search">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fechaSolicitud)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fechaTomado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.breveDescripcion)
                                    </td>
                                    <td>

                                        @Html.DisplayFor(modelItem => item.nombrePriorizacion)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nombreDepartamento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nombreCategoria)
                                    </td>
                                    <td>

                                        @Html.ActionLink("Ver detalles", "verDetallesInsidente", new { id = item.id }, new { @class = "btn btn-warning" })

                                        @Html.ActionLink("Dar Respuesta", "insidenteRespuestaAdmin", new { id = item.id }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("Escalonar insidente a nivel superior", "crearEscalonamiento", new { id = item.id }, new { @class = "btn btn-danger" })

                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>


                    </div>

                </div>

            </div>
        </div>
    </div>






    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Registrar un nuevo Insidente</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancelar</a>
                </div>
            </div>
        </div>
    </div>



</body>


<script>

    $(document).ready(function () {
        $('#datatable').dataTable();

        $("[data-toggle=tooltip]").tooltip();

    });
</script>

<script type="text/javascript">
    function cargando() {
        $("#carga").animate({ "opacity": "1" }, 1000, function () { $("#carga").css("display", "Block"); });

    }

    function cerrar() {
        $("#carga").animate({ "opacity": "0" }, 1000, function () { $("#carga").css("display", "none"); });
    }

    $(document).ready(function () {
        window.onload = cerrar;
        $("#carga").click(function () { cerrar(); });
        window.onbeforeunload = cargando;
    });
</script>
<script>

    function AddNewProvider() {
        $("#ModalTitle").html("Registrar una nueva orden");
        $("#MyModal").modal();


    }

</script>